.align-right{
    text-align: right !important;
    margin: 20px
}

.title-page{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-add-go{
    color:white !important;
}

.row-btns{
    margin: 50px 50px 50px 50px !important;
    text-align: right !important;
}

.btn-login{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    text-align: center;
    
}

.profile-image {
    width: 150px !important;
    height: 150px !important;
    background-color: #ccc !important;
    border-radius: 50% !important; 
    margin-bottom: 20px !important;
  }

.form-login{
    padding:20px 250px 5px 250px; 
}

.form-group-login{
    margin-top: 10px;
}

.search{
    margin:20px 450px 5px 10px;    
    
}

.bg-custom{
    background-color: aqua !important;
}