html,
body {
    margin: 0px;
    height: 100%;
}

.container-fluid {
    background-color: #f3e6e2;
}

.bienvenida {
    text-align: right;
    color: #fff;
    font-size: large;
    margin: 5px;

}


/* Barra de navegación */

.navbar-option:hover {
    color: #f5af3e !important;
}

.navbar-header {
    background-color: #734E38;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar-option {
    margin-left: 10px;
    text-decoration: none !important;
    color: #f3e6e2;
    font-size: large;
}

.navbar-links {
    display: flex;
}

.navbar-logo {
    text-align: right;
}

.navbar-logo img {
    width: 230px;
    /* Ajusta el ancho del logo */
    height: auto;
    /* Mantiene la proporción de aspecto */
}

.navbar-login {
    margin-left: auto;
    text-align: right;
}

.navbar-brand {
    color: #f3e6e2;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand:hover {
    text-decoration: underline;
}

.navbar-link:hover {
    text-decoration: underline;
}

.align-right {
    text-align: right !important;
}

.align-left-m10 {
    text-align: left !important;
    margin: 10px;
}


.align-center {
    text-align: center !important;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.title-page {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-add-go {
    color: white !important;
    margin-bottom: 30px;
}

.btn-add {
    color: white !important;
    background-color: #138b80 !important;
}

.row-btns {
    margin: 50px 50px 50px 50px !important;
    text-align: right !important;
}

.btn-login {
    margin-top: 20px !important;
    margin-bottom: 20px !important;

}

.profile-image {
    width: 200px !important;
    height: 200px !important;
    background-color: #ccc !important;
    border-radius: 50% !important;
    margin-bottom: 20px !important;
}



.form-group-login {
    margin-top: 10px;
}

.search {
    margin: 20px 450px 5px 10px;

}

.bg-custom {
    background-color: aqua !important;
}

/* Pie de página */

.footer {
    background-color: #734E38;
    padding: 10px;
    color: #FFF;
    text-align: center;
}

.table{
    margin-bottom: 30px !important;
}

.bg-dark {
    background-color: #734E38;
}

.bg-info {
    background-color: #594539;
}

.text-white {
    color: #FFF;
}

.label-group {
    text-align: left !important;
    margin: 10px 0px !important;
}


.title-modules {
    background-color: #734e3837 !important;
    text-align: center;
    color: black;

}

.thead-brown {
    background-color: #be9788;
}

.table-striped>tbody>tr:nth-child(2n+1)>td,
.table-striped>tbody>tr:nth-child(2n+1)>th {
    background-color: #f2f2f2;
}

.table-striped>tbody>tr:nth-child(2n+2)>td,
.table-striped>tbody>tr:nth-child(2n+2)>th {
    background-color: white;
}

.table-striped>tbody>tr{
    border-bottom:1px solid rgb(0, 0, 0);
}