



.title-modulos {
    background-color: #734e388f;
    text-align: center;
    color: #f3e6e2;
    padding: 5px;
    margin: 20px 10px;
    box-shadow: 2px 2px 2px 2px hsla(15, 30%, 64%, 0.306);

}

.module {
    margin: 15px;
    background-color: #734e3837 !important;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px hsla(14, 30%, 64%, 0.167);
    text-align: center;
}


.text-align-center {
    text-align: center;
}





