

.title_login {
    background-color:  #734e3857;
    width: 50%;
    color: #594539;
    padding: 10px 30px ;    
    text-align: center;
    justify-content: space-between;
    margin: 20px 0px;
    box-shadow: 2px 2px 2px 2px hsla(15, 30%, 64%, 0.306);
}

.caja_login {
    background-color:  #734e383b;
    margin-bottom: 7px;
    color:#FFF;
    padding: 10px 30px ;    
    text-align: center;
    justify-content: space-between;

}

.caja_contra {
    background-color:  #734e383b;
    margin-bottom: 7px;
    color: #FFF;
    padding: 10px 30px ;    
    text-align: center;
    justify-content: space-between;

}

.error-message {
    color: red;
    margin-top: 5px;
}


.btn-login{
    
    color: #FFF;
    text-align: center;
    justify-content: space-between;

}
